<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devel.ccqf.ccqfmisson">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".Utilitairies.FeedAlarmReceiver"
            android:process=":remote" >
        </receiver>

        <service
            android:name=".Utilitairies.FeedService"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:logo="@mipmap/ccqf_logo"
            android:theme="@style/AppTheme.ActionBarLogo"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Doc"
            android:screenOrientation="portrait" />
        <activity android:name=".Program"
            android:screenOrientation="portrait" />
        <activity android:name=".MonAgenda"
            android:screenOrientation="portrait" />
        <activity android:name=".FeedListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Feed"
            android:screenOrientation="portrait" />
        <activity android:name=".Survey"
            android:screenOrientation="portrait" />
        <activity android:name=".SurveyCreate"
            android:screenOrientation="portrait" />
        <activity android:name=".SurveyResults"
            android:screenOrientation="portrait" />
        <activity android:name=".SurveyResultDetails"
            android:screenOrientation="portrait" />
        <activity android:name=".NewB2B"
            android:screenOrientation="portrait" />
        <activity android:name=".ProgramDays"
            android:screenOrientation="portrait" />
        <activity android:name=".DocDetails"
            android:screenOrientation="portrait" />
    </application>

</manifest>